/*FONTS*/

/*font-family: 'Oxygen', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;*/

/*-----------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}


.navbar {
	padding: 0;
}

.bg-dark {
	background-color: #24282b!important;
}

.container {
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid black;
	border-radius: 10px;
}

.container-fluid {
	padding: 0;
}

.for-space {
	height: 2.5vh;
}

.title {
	height: 20vh;
	padding-top: 5vh;
	text-align: center;
}

.title > h1 {
	text-shadow: 3px 2px 2px black;
	font-family: 'Ubuntu', sans-serif;
	color: hsl(0, 0%, 85%);
	font-size: 60px;
}

.card {
	border: 2px solid grey;
	background-color: rgba(255, 255, 255, .9);
}

.card > img {
	margin: 0 auto;
	margin-top: 5px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid grey;
}

.for-desktop > main > img {
	margin: 0 auto;
	margin-top: 0px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-right: 20px;
	border: 2px solid grey;
	/*float: left;*/
}



.for-desktop > main > p {
	color: hsl(0, 0%, 85%);
	font-family: 'Ubuntu Condensed', sans-serif;
}

.card-body {
	text-align: center;
	padding: 10px;
}

.card-body > h5 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	margin: 0;
}

.card-body > h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	font-size: 15px;
}

.card-body > p {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: 500;
}


article {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 5px;
	/*margin: 0 2px 0 2px; */
	background-color: rgba(0, 0, 0, .85);
	height: auto;
	padding: 20px;
}

article > .jumbotron {
	margin: 0px;
	height: auto;
}

.jumbotron > img {
	height: 200px;
	width: 600px;
	float: left;
	margin-right: 20px;
}

.jumbotron-fluid > img {
	height: 200px;
	width: 300px;
	float: left;
	margin-right: 20px;
}

.jumbotron {
	border-radius: 10px;
}

.jumbotron-fluid {
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	height: 600px;
}

.skill-section {
	background-color: rgba(0, 0, 0, .85);
	text-shadow: 3px 2px 2px black;
	font-family: 'Ubuntu', sans-serif;
	color: hsl(0, 0%, 85%);
	font-size: 60px;
}

.html-percent {
	width: 87%;
}

.css-percent {
	width: 75%;
}

.bootstrap-percent {
	width: 50%;
}

.jscript-percent {
	width: 3%;
}

.php-percent {
	width: 1%;
}

.laravel-percent {
	width: 1%;
}

footer {
	background-color: #24282b!important;
	height: 15vh;
}

.footer-last p {
	margin: 0;
	color: #494e53;
}

.footer-last img {
	height: 25px;
	width: 28px;
	border-radius: 50%;
}


/*MEDIA QUERIES-----------------------------*/

@media only screen and (min-width: 960px) and (max-width: 4000px) {

	.navbar-nav {
		margin-right: 8%;
	}

	.nav-item {
		padding-right: 3%;
	}

	.card {
		display: none;
	}

	.none{
		display: none;
	}


}

/*tablet view*/

@media only screen and (min-width: 401px) and (max-width: 960px) {


	.for-desktop {
		display: none;
	}

	.navbar-toggler-icon {
		display: none;
	}

	#navbar > a {
		margin-left: 33%;
	}

	#navbar > button {
		padding: 2%;
		/*margin-left: 0%; */
	}

	.nav-link {
		text-align: center;
	}

	.nav-item {
		padding-left: 6%;
	}

}



/*mobile view*/

@media only screen and (max-width: 400px) {

	.for-desktop {
		display: none;
	}

	#navbar > a {
		margin-left: 20.5%;
	}

	.navbar-menu {
		display: none;
	}

	.nav-link {
		text-align: center;
	}

	.nav-item {
		padding-left: 13%;
	}

	.title {
		height: 15vh;
	}

	.title > h1 {
		font-size: 28px;
		margin-bottom: 0;
	}

	.no-mobile {
		display: none;
	}
}








@import url(https://fonts.googleapis.com/css?family=Montserrat);

// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
    transition: $property $time $easing;
}

// ------------- VARIABLES ------------- //
$parallax-offset: 30vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 3;

html, body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  width: 100%;
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
  }
  &:first-child {
    background-image: url(https://i.postimg.cc/kXq9Qmnj/bgd1.jpg);
    transform: translateY(-$parallax-offset / 2);
    .content-wrapper {
      transform: translateY($parallax-offset /2);
    }
  }
  &:nth-child(2) {
    background-image: url(https://i.postimg.cc/W14vywqg/photo-1424746219973-8fe3bd07d8e3.jpg);
  }
  &:nth-child(3) {
    background-image: url(https://i.postimg.cc/TY0xQ41T/photo-1433840496881-cbd845929862.jpg);
  }
}

/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
    .background:nth-child(#{$i}) {
        z-index: ($slide-number + 1) - $i; 
    }
}

.content {
  &-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: translateY($content-offset);
  will-change: transform;
  backface-visibility: hidden;
  @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
  }
  &-title {
    font-size: 12vh;
    line-height: 1.4;
  }
}

// ------------- SET TRANSFORM VALUES ------------- //

.background.up-scroll {
  transform: translate3d(0,-$parallax-offset / 2,0);
  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }
  + .background {
    transform: translate3d(0,$parallax-offset,0);
      .content-wrapper {
        transform: translateY($parallax-offset);
      }
    }
}

.background.down-scroll {
  transform: translate3d(0,-(100vh + $parallax-offset),0);
  .content-wrapper {
    transform: translateY($content-offset);
  }
  + .background:not(.down-scroll) {
    transform: translate3d(0,-$parallax-offset / 2,0);
      .content-wrapper {
        transform: translateY($parallax-offset / 2);
      }
  }
}